* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('bg.jpg');
    }
.card {
    background: whitesmoke; 
    width: 320px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.card h2 {
    margin-bottom: 20px;
    color: #333;
}

.card input,
.card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 14px;
}
.card input:focus,
.card select:focus {
    outline: none;
    border-color: #007bff;
}
.card button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background 0.3s ease; */
}
.card button:hover {
    background: #0056b3;
}
#output {
    margin-top: 15px;
    font-weight: bold;
    color:rgb(58, 206, 58);
}
